version: '3.9'
services:
  database:
    image: mongo:4
    container_name: store-scraper-database
    ports:
      - 27017:27017
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
  backend:
    build: backend
    container_name: store-scraper-api
    ports:
      - ${API_PORT}:80
    environment:
      API_PORT: 80
      MONGO_URI: mongodb://database:27017
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_DATABASE: ${MONGO_DATABASE}
    depends_on:
      - database
